/* Add the Tailwind directives for each layer */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-roboto);
  background-color: #212426 !important;
}


/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  flex-direction: column; /* Stack children vertically */
  padding: 20px; /* Ensure consistent padding */
}

.game {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.game:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.game div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.game div:nth-of-type(1) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f7f5f5;
}

.game:hover div:nth-of-type(1) {
  opacity: 1;
}

.game div:nth-of-type(1) p {
  color: #f7f5f5; /* Ensure color property is correctly set */
}

.game div:nth-of-type(2) {
  display: flex; /* Use flexbox layout */
}

.game div:nth-of-type(2) img {
  margin-right: 0px; /* Adjust margin between the images */
  max-width: 50%; /* Ensure images take up 50% of the container width */
  height: auto; /* Maintain aspect ratio */
}

.game:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.game div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.game div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.game div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.game:hover div:nth-of-type(3) {
  background-color: transparent;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.day-container {
  margin-bottom: 20px;
  width: 100%;
}

.date-block {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.game-card-wrapper {
  flex: 1 1 calc(50% - 10px); /* Two columns layout */
  max-width: calc(50% - 10px); /* Adjust according to the gap */
}

.game-card-wrapper img {
  max-width: 100%;
  height: auto;
}
